.VictoryContainer {
  display: flex;
  align-items: flex-end;

  & > svg {
    width: unset;
    height: unset !important;

    path {
      // stroke: #01243c !important;
      // stroke-width: 2.2px !important;
      stroke-linecap: round;
    }
  }

  .small-text {
    font-size: 12.268px;
  }
}
